<header class="main-header">
    <a [routerLink]="['/']" class="logo">
        <span class="logo-lg"><b>Lesson</b>Planner</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav"></ul>
        </div>
    </nav>
</header>
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu tree">
            <li><a [routerLink]="['/units']"><i class="fa fa-university "></i>Units</a></li>
        </ul>
    </section>
</aside>