<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LessonPlanner</title>
    <base href="/">

    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!--Theme CSS files-->
    <link rel="stylesheet" href="~/adminLte/css/AdminLTE.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/adminLte/css/skins/_all-skins.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/animate/animate.css" asp-append-version="true" />

</head>
<body class="skin-blue">
    <div class="wrapper">
        @RenderBody()

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
